<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <!--LabelSet: avocado|orange|butter-->
      <add key="LabelSet" value="head|eye"/>
    </appSettings>
</configuration>